* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #FFF;
	font-family: "Open Sans", Sans-serif;
	font-size: 16px;
}

/*----------------------Estilos del Header----------------------*/

header {
	background: url('../img/bg.jpg') #49a3d6;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 600px;
	overflow: hidden;
}
.contenedor,
.contenedor-mob{
	width: 90%;
	max-width: 1000px;
	margin:0px auto;
}
header .menu .icon{
	visibility: hidden;
	position: absolute;
}
header .menu nav{
	width: 100%;
	text-align: right;

}
header .menu nav a{
	text-decoration: none;
	font-size: 16px;
	color: white;
	padding: 40px 20px 9px 20px;
	display: inline-block;
	border-bottom:2px solid transparent;
}
header .menu nav a:hover{
	border-bottom:2px solid white;
}
header .contenedor_titulo{
	display:flex;
	justify-content: center;
}
header .titulo {
	border:2px solid rgba(255,255,255,0.5);
	margin: 170px 0px 190px 0px;
	text-align: center;
	border-radius: 3px;
	display:inline-block;
	padding:10px 60px;
}
header .titulo h1{
	color:white;
	font-size: 45px;
	font-weight: 300;
	line-height: 50px;
	letter-spacing: 1.6px;
	margin-bottom: 0px;
}
header .titulo h2{
	color:white;
	font-size: 25px;
	font-weight: 300;
	letter-spacing: 1.6px;
	margin-top: 10px;
}
/*----------------------------Estilos del Acerca de----------------------------*/

.main .foto{
	text-align: center;
}
.main .acercade .foto img{
	display: inline-block;
	vertical-align: top;
	margin-top: -60px;
	border-radius: 50%;
	border:5px solid rgba(255,255,255,0.3);
}	
.main .acercade .info{
	text-align: center;
	margin-top: 35px;
	margin-bottom: 35px;
	overflow: hidden;
}
.main .acercade .info h1{
	color:#E17015;
	font-weight: 400;
	margin-bottom: 40px;
}
.main .acercade .info p{
	font-size: 1.08em;
	color:#615D5D;
	line-height: 30px;
	display:inline-block;
	margin:5px 10px 0px 5px;
}
.main .acercade .info p .bold{
	font-size: 1.12em;
	color:#5294BE;
}
/*----------------------------Estilos de los trabajos----------------------------*/
.main .trabajos{
	/*background:#BED6C4 ;*/
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
}
.trabajos .titulo{
	text-align: center;
	margin-top: 150px;
	margin-bottom: 60px;
}
.trabajos .titulo h1{
	color:#323068;
	font-weight: 400;
	font-size: 2em;
	letter-spacing: 1.3px;
}
.trabajos .works{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.trabajos .works .trabajo{
	width: 23%;
	margin-bottom: 20px;
	cursor:pointer;
}
.trabajos .works .trabajo .content{
	text-align: center;
}
.trabajos .works .trabajo .content img{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-radius: 5px;
	opacity:0.8;
}
.trabajos .works .trabajo .content img:hover{
	opacity: 1;
}
.trabajos .works .trabajo .content h3{
	color:#49a3d6;
	font-weight: 600;
}
.trabajos .works .trabajo .content p{
	font-size: 14px;
	color:#777171;

}
/*-------------------Estilos de contacto-------------------*/

.main .contacto{
	width: 100%;
	margin-top: 100px;
}
.main .contacto .titulo{
	text-align: center;
}
.main .contacto .titulo h2{
	color:#49a3d6;
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 25px;
	display: block;
}
.main .contacto form{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;	
	margin-top: 50px;
}
.main .contacto form .nombre,
.main .contacto form .correo{
	width: 47%;
	padding:20px;
	border:2px solid rgba(138,138,138,0.5);
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 20px;
	color:#5E5B5B;
}
.main .contacto form .asunto{
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border:2px solid rgba(138,138,138,0.5);
	border-radius: 5px;
	font-size: 20px;
	color:#5E5B5B;
}
.main .contacto form .texto{
	width: 100%;
	border:2px solid rgba(138,138,138,0.5);
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	color:#5E5B5B;
	min-width: 100%;
	max-width: 100%;
	min-height:200px;
	max-height: 350px;
}
.main .contacto form .nombre:focus,
.main .contacto form .correo:focus,
.main .contacto form .asunto:focus,
.main .contacto form .texto:focus{
	border:2px solid rgba(73,163,214,0.5);
	
}
.main .contacto form input[type="submit"]{
	margin:20px auto 20px auto;
	padding:20px 80px;
	border:none;
	background: #49a3d6;
	border-radius: 5px;
	color:white;
	cursor:pointer;
	border:2px solid transparent;
	font-size: 20px;
}
.main .contacto form input[type="submit"]:hover{
	color:#49a3d6;
	background: white;
	border:2px solid rgba(73,163,214,0.7);
}

/*-----------------Estilos del footer-----------------*/

footer{
	width: 100%;
	background: #1e2b38;
	margin-top: 60px;
	padding: 20px 0px;
	box-sizing: border-box;
}
footer .redes-sociales{
	padding:  20px 60px;
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
footer .redes-sociales a{
	display:block;
	font-size: 35px;
	color:white;
	padding: 20px 40px;
	border-radius: 5px;
}
footer .redes-sociales .twitter:hover {	background: #1da1f2; }
footer .redes-sociales .facebook:hover { background: #3b5998; }
footer .redes-sociales .youtube:hover {	background: #cd201f; }
footer .redes-sociales .github:hover { background: #666666; }
footer .redes-sociales .instagram:hover { background: #3f729b; }

footer .copy{
	width: 100%;
	text-align: center;
	border-top: .3px solid gray;
}
footer .copy p{
	font-size: 20px;
	margin-bottom: 5px;
	color:white;
	font-weight: 300;
}

/*---------------------------------Media queries---------------------------------*/	

@media screen and (max-width: 800px) {
	header .menu nav{
		text-align: center;
		padding-bottom: 0px;
	}
	footer .redes-sociales a{
	padding: 20px 30px;		
	}
}

@media screen and (max-width: 640px){

	footer .redes-sociales .instagram,
	footer .redes-sociales .github{		
		width: 40%;
	}
		header .titulo{
		width: auto;
		text-align: center;
		padding:0 30px;
	}
}

@media screen and (max-width: 600px){

	.trabajos .works .trabajo{
		width: 45%;
	}
}
@media screen and (max-width: 450px){
	footer .redes-sociales{
		flex-direction: column;
	}
	footer .redes-sociales a,
	footer .redes-sociales .instagram,
	footer .redes-sociales .github{
		width: auto;
		display: inline-block;
		margin-bottom: 3px;
	}*/
	.main .trabajos .titulo{
		margin-top: 100px;
	}
	.main .contacto form input[type="text"]{
		font-weight: 300;
	}
}
@media screen and (max-width: 385px){
	header .contenedor-mob{
		max-width: 100%;
		min-width: 100%;
	}
	header .menu{
		position: relative;
		background: blue;
		height: 100%;
		text-align: center;
	}
	header .menu .icon{
		visibility: visible;
		position: relative;
		height: 50px;
		background: #3B82F7;
		display:flex;
		justify-content: center;
		align-items: center;
		cursor:pointer;
	}
	header .menu .icon-active{
		background: #867F7F;
		visibility: visible;
		position: relative;
		height: 50px;
		display:flex;
		justify-content: center;
		align-items: center;
		cursor:pointer;
	}
	header .menu .icon:hover{
		background: #5591F5 ;
	}
	header .menu  p{
		margin-left: 30px;
		color: white;
		font-size: 18px;
	}
	header .menu i{
		font-size: 23px;
		margin-right: 30px;
		color:#B9E1FF;
		margin-left:10px;
	}
	header .menu nav{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		position: absolute;
		background: #5293FF;
		visibility: hidden;
	}
	header .menu nav.visible{
		visibility: visible;
	}
	header .menu  a{
		width: 100%;
	}
	header .menu nav .contact{
		margin-bottom: 15px;
	}
	/*header .menu a.contact{
		align-self: center;
		margin:0 auto;
	}*/
	header .titulo{
		margin-top: 160px;
	}
	header .titulo h1{
		font-size: 35px;
		margin:10px auto;
	}
	.main .contacto form input[type="submit"]{
		padding:15px 50px;
	}
	.main .contacto form input[type="text"],
	.main .contacto form .texto{
		font-size: 17px;
	}
}
@media screen and (max-width: 320px){
	header .menu nav a{
		font-size: 15px;
	}
	header .titulo{
		padding: 0 5px;
	
	}
	header .titulo h1{
		font-size: 35px;
		margin:10px auto;
	}
	header .titulo h2{
		font-size: 20px;
	}


}